<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body class="body todos-page">


    <!-- left column -->

    <!-- THIS IS WHERE OUTPUT FROM CHAT WILL GO -->
    <section id="left-column">
        <h2>Assistance</h2>
        <h3 id="output"></h3>
    </section>



    <!-- middle column -->
    <section id="middle-column">
        <h1>Todos</h1>
            <ul>
            <% todos.forEach( el => { %>
                <li class='todoItem' data-id='<%=el._id%>'>
                    <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                    <span class='del'> Delete </span>
                </li>
                <% }) %>    
            </ul>
            
            <h2><%= user.userName %> has <%= left %> things left to do.</h2>
            
            <form action="/todos/createTodo" method='POST'>
                <input id="textarea" placeholder="Enter Todo Item" name='todoItem'>
                <button id="submit">Submit</button>
            </form>
            <a href="/logout">Logout</a>
        </section>

        <!-- right column -->

        <!-- THIS IS WHERE OUTPUT FROM CHAT WILL GO -->
        <section id="right-column">
            <h2>Assistance</h2>
            <h3 id="output"></h3>
        </section>


    <script src="js/main.js"></script>
</body>
</html>